---
import { Image } from "@astrojs/image/components";

import BaseLayout from "layout:Base";

import ExternalLink from "component:ExternalLink";
import QrEn from "component:cv/QrEn";
import Item from "component:cv/timeline/Item";
import Label from "component:cv/timeline/Label";
import Portfolio from "component:cv/Portfolio";

import Printer from "component:icons/heroicons/printer";
import HeartIcon from "component:icons/heroicons/heart";
import LinkedInIcon from "component:icons/simpleicons/linkedin";
import GithubIcon from "component:icons/simpleicons/github";
import TwitterIcon from "component:icons/simpleicons/twitter";

import imgCv from "asset:img/angel-guerra.png";

const site = Astro.site.toString();
---

<BaseLayout
  title="My resume"
  description="Experience throughout my professional life as a developer"
  robots="noindex,nofollow"
>
  <section class="h-full p-4 print:h-screen print:bg-white print:text-sm">
    <section class="container mx-auto mb-8 print:w-full">
      <header class="mb-12 print:mb-6">
        <p class="mt-8 mb-2 text-center text-2xl">游녦 Hi! How are you?</p>
        <h1 class="mb-2 text-center text-xl print:hidden">
          Welcome to my resume
        </h1>
        <p class="text-center text-base print:hidden">
          Too much text? <button
            onclick="if (window.print) window.print()"
            class="font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
          >
            Try the printed version.
          </button>
        </p>
      </header>

      <section
        class="mb-16 flex flex-wrap items-start justify-start gap-4 print:flex-nowrap md:flex-nowrap"
      >
        <section
          class="mb-6 print:mb-0 print:block print:basis-2/5 md:sticky md:top-4 md:mb-0 md:shrink-0 md:grow-0 md:basis-1/3"
        >
          <Image
            src={imgCv}
            alt="Photograph of myself"
            class="aspect-square border-0 w-full max-w-xs mb-4 d-block mx-auto sm:max-w-none sm:w-2/5 sm:float-right md:w-full lg:w-1/2 xl:w-2/5 print:max-h-40 print:object-contain"
            loading="lazy"
            decoding="async"
          />
          <p class="mb-2 font-bold">But... Who am I?</p>

          <p class="mb-2">
            Beyond the philosophical question, my name is <strong>츼ngel</strong>
            and I was born at the beginning of the <ExternalLink
              href="https://en.wikipedia.org/wiki/1990s"
              title=""
              text="great decade of the 90s"
            />. I'm currently a developer at <ExternalLink
              href="https://iteisa.com/"
              title="ITEISA webpage"
              css="text-[#af1685] decoration-[#af1685]"
              text="ITEISA"
            /> where I mainly deal with custom developments. I mainly work with React
            and CakePHP, but as you will see in this resume, I have used many different
            tools which gives me a great versatility.
            <span class="print:hidden"
              >As a curiosity, I'm a fan of <ExternalLink
                href="https://jamstack.org/"
                title="Web page with information about Jamstack"
                css="text-[#e7017a] decoration-[#e7017a]"
                text="Jamstack"
              />, and I like to be tinkering with the <abbr
                title="Static Site Generators">SSG</abbr
              > that are emerging.</span
            >
          </p>

          <div class="mb-4 flex flex-wrap gap-4 print:gap-1">
            <Label text="PHP" css="border-zinc-900  bg-white" />
            <Label text="CakePHP" css="border-zinc-900  bg-white" />
            <Label text="MySQL" css="border-zinc-900  bg-white" />
            <Label text="Git" css="border-zinc-900  bg-white" />
            <Label text="GitLab CI" css="border-zinc-900  bg-white" />
            <Label text="JavaScript" css="border-zinc-900  bg-white" />
            <Label text="React" css="border-zinc-900  bg-white" />
            <Label text="Tailwind CSS" css="border-zinc-900  bg-white" />
            <Label text="Jamstack" css="border-zinc-900  bg-white" />
            <Label text="Astro" css="border-zinc-900  bg-white" />
            <Label text="11ty" css="border-zinc-900  bg-white" />
          </div>

          <p class="mb-2 print:hidden">
            On the other hand, I like contact sports - I practice or have
            practiced <ExternalLink
              href="https://bujinkancantabria.ninja/"
              title="Bujinkan Cantabria webpage"
              text="martial arts and kick boxing"
            /> -, <ExternalLink
              href="https://lichess.org/@/AngelGuerra"
              title="My Lichess profile"
              text="chess"
            /> - although to be honest I have abandoned it -, watching anime and
            spending time with my family <HeartIcon
              css="w-4 h-4 inline text-rose-700 fill-rose-700 motion-safe:animate-pulse"
            />.
          </p>

          <p class="mb-2">You can also find me on social:</p>

          <ul class="mb-6 flex flex-wrap gap-4 print:flex-col print:gap-1">
            <li>
              <a
                href="https://es.linkedin.com/in/angel-guerra-revilla"
                target="_blank"
                rel="me noopener"
                title="My LinkedIn profile"
              >
                <span
                  class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
                  >LinkedIn</span
                >
                <LinkedInIcon
                  css="h-8 w-8 transition-all hover:scale-105 print:h-4 print:w-4 print:inline"
                />
                <span class="hidden print:inline"
                  >https://es.linkedin.com/in/angel-guerra-revilla</span
                >
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/angellguerra"
                target="_blank"
                rel="me noopener"
                title="My Twitter profile"
              >
                <span
                  class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
                  >Twitter</span
                >
                <TwitterIcon
                  css="h-8 w-8 transition-all hover:scale-105 print:h-4 print:w-4 print:inline"
                />
                <span class="hidden print:inline"
                  >https://twitter.com/angellguerra</span
                >
              </a>
            </li>
            <li>
              <a
                href="https://github.com/AngelGuerra"
                target="_blank"
                rel="me noopener"
                title="My Github profile"
              >
                <span
                  class="sr-only mb-2 block font-bold underline decoration-viva-magenta decoration-2 underline-offset-4 transition-all hover:decoration-zinc-900"
                  >Github</span
                >
                <GithubIcon
                  css="h-8 w-8 transition-all hover:scale-105 print:h-4 print:w-4 print:inline"
                />
                <span class="hidden print:inline"
                  >https://github.com/AngelGuerra</span
                >
              </a>
            </li>
          </ul>

          <p class="mb-2 font-bold">
            And... what am I <em>ideally</em> looking for?
          </p>
          <ul>
            <li>To work, at least, in the backend.</li>
            <li>Use current technologies and tools.</li>
            <li>A good team to be part of.</li>
            <li>A good work-life balance.</li>
            <li>...and a good salary, of course 游땏.</li>
          </ul>
        </section>

        <section class="print:basis-3/5 md:grow">
          <header>
            <h2 class="mb-8 text-center text-2xl">Work experience</h2>
          </header>

          <div>
            <!-- ITEISA -->
            <Item
              title="July 2020 - CURRENTLY"
              current={false}
              labels={[
                {
                  css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
                  text: "PHP",
                },
                {
                  css: "shadow-[#D33C44] border-[#363637] bg-[#D33C44] text-white",
                  text: "CakePHP",
                },
                {
                  css: "shadow-[#356388] border-[#3C9CD7] bg-[#356388] text-white",
                  text: "PHPUnit",
                },
                {
                  css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
                  text: "JavaScript",
                },
                {
                  css: "shadow-[#282C34] border-[#20232A] bg-[#282C34] text-[#61DAFB]",
                  text: "React",
                },
                {
                  css: "shadow-[#303846] border-[#20232A] bg-[#303846] text-[#09D3AC]",
                  text: "Create React App",
                },
                {
                  css: "shadow-[#111111] border-[#111111] text-[#111111]",
                  text: "NextJS",
                },
                {
                  css: "shadow-[#7026B9] border-[#232129] bg-[#7026B9] text-white",
                  text: "GatsbyJS",
                },
                {
                  css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
                  text: "MySQL",
                },
                {
                  css: "shadow-[#222222] border-[#222222] bg-[#222222] text-white",
                  text: "11ty",
                },
                {
                  css: "shadow-[#157AFF] border-[#022044] bg-[#157AFF] text-white",
                  text: "Docker",
                },
                {
                  css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
                  text: "Git",
                },
                {
                  css: "shadow-[#FCA121] border-[#DB3B21] bg-[#FCA121] text-white",
                  text: "GitLab CI",
                },
              ].sort((a, b) => a.text.localeCompare(b.text))}
            >
              <p class="mb-4">
                <ExternalLink
                  href="https://iteisa.com/"
                  title="ITEISA webpage"
                  css="text-[#af1685] decoration-[#af1685]"
                  text="ITEISA"
                />. I am a Full-Stack developer. My main function is to perform
                custom developments that customers request to the company.
                Therefore, in each development, I have to get involved with the
                client and their business, know the market to which it is
                intended and the mechanics of its operation.
              </p>

              <p class="mb-4 print:hidden">
                Being a consultancy with a multitude of clients, I have also had
                the opportunity to make many developments of different types:
                scrapers, APIs, custom frontends, plugins for WordPress or
                PrestaShop, static pages...
              </p>

              <p class="mb-4 print:hidden">
                In addition to this, I am also in charge of replacing our
                irreplaceable system administrator when he is not available, I
                instruct my colleagues on how to get out of <strong>vim</strong
                >...
              </p>
            </Item>

            <!-- SPORT2FIT -->
            <Item
              title="January 2020 - July 2020"
              labels={[
                {
                  css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
                  text: "PHP",
                },
                {
                  css: "shadow-[#D33C44] border-[#363637] bg-[#D33C44] text-white",
                  text: "CakePHP",
                },
                {
                  css: "shadow-[#45494c] border-[#828d96] bg-[#45494c] text-white",
                  text: "phpBB",
                },
                {
                  css: "shadow-[#117AC9] border-[#003c56] bg-[#117AC9] text-white",
                  text: "WordPress",
                },
                {
                  css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
                  text: "JavaScript",
                },
                {
                  css: "shadow-[#0769ad] border-[#7acef4] bg-[#0769ad] text-white",
                  text: "JQuery",
                },
                {
                  css: "shadow-[#CC342D] border-[#9b1c16] bg-[#CC342D] text-white",
                  text: "Ruby",
                },
                {
                  css: "shadow-[#D30001] border-[#D30001] text-[#D30001]",
                  text: "Ruby On Rails",
                },
                {
                  css: "shadow-[#2b2b2b] border-[#333333] bg-[#2b2b2b] text-[#ffcc00]",
                  text: "Jekyll",
                },
                {
                  css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
                  text: "MySQL",
                },
                {
                  css: "shadow-[#336791] border-[#336791] text-[#336791]",
                  text: "PostgreSQL",
                },
                {
                  css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
                  text: "Git",
                },
              ].sort((a, b) => a.text.localeCompare(b.text))}
            >
              <p class="mb-4">
                <ExternalLink
                  href="http://www.sport2fit.com/"
                  title="Sport2Fit webpage"
                  css="text-[#49afcd] decoration-[#49afcd]"
                  text="Sport2Fit"
                />. I worked as a Full-Stack developer. My main function was the
                maintenance and development of the company's products, made with
                Ruby On Rails, and the development of a series of websites with
                WordPress, Jekyll and CakePHP.
              </p>

              <p class="mb-4 print:hidden">
                The company is oriented to the world of sports and motor, I had
                direct contact with customers to collect and resolve questions
                and issues they had so I was involved in virtually the entire
                life cycle of projects.
              </p>
            </Item>
            <!-- ITEISA -->
            <Item
              title="April 2017 - January 2020"
              labels={[
                {
                  css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
                  text: "PHP",
                },
                {
                  css: "shadow-[#71c405] border-white bg-[#71c405] text-white",
                  text: "Oclif",
                },
                {
                  css: "shadow-[#D33C44] border-[#363637] bg-[#D33C44] text-white",
                  text: "CakePHP",
                },
                {
                  css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
                  text: "JavaScript",
                },
                {
                  css: "shadow-[#282C34] border-[#20232A] bg-[#282C34] text-[#61DAFB]",
                  text: "React",
                },
                {
                  css: "shadow-[#303846] border-[#20232A] bg-[#303846] text-[#09D3AC]",
                  text: "Create React App",
                },
                {
                  css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
                  text: "MySQL",
                },
                {
                  css: "shadow-[#2b2b2b] border-[#333333] bg-[#2b2b2b] text-[#ffcc00]",
                  text: "Jekyll",
                },
                {
                  css: "shadow-[#157AFF] border-[#022044] bg-[#157AFF] text-white",
                  text: "Docker",
                },
                {
                  css: "shadow-[#43b02a] border-[#75c563] bg-[#43b02a] text-white",
                  text: "Selenium",
                },
                {
                  css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
                  text: "Git",
                },
                {
                  css: "shadow-[#FCA121] border-[#DB3B21] bg-[#FCA121] text-white",
                  text: "GitLab CI",
                },
              ].sort((a, b) => a.text.localeCompare(b.text))}
            >
              <p class="mb-4">
                <ExternalLink
                  href="https://iteisa.com/"
                  title="ITEISA webpage"
                  css="text-[#af1685] decoration-[#af1685]"
                  text="ITEISA"
                />. As you can see, I have worked several times in this company.
                In this first time my main role was the development on the
                server side - backend - with CakePHP, although I also did
                frontend work with React or Jekyll, for example.
              </p>

              <p class="mb-4 print:hidden">
                I was mainly in charge of API development, both for customer
                products and internal company tools. I also made scrapers, I was
                in charge of the maintenance of the company's own website, made
                with Jekyll, and I did some <abbr title="Research & Development"
                  >R&amp;D</abbr
                > work, researching and testing different open source tools to see
                their viability and their integration capabilities with those of
                the company.
              </p>
            </Item>
            <!-- Punsset -->
            <Item
              title="July 2014 - March 2017"
              last={true}
              labels={[
                {
                  css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
                  text: "JavaScript",
                },
                {
                  css: "shadow-[#0769ad] border-[#7acef4] bg-[#0769ad] text-white",
                  text: "JQuery",
                },
                {
                  css: "shadow-[#3e2723] border-[#1b5e20] bg-[#3e2723] text-white",
                  text: "CoffeeScript",
                },
                {
                  css: "shadow-[#CC342D] border-[#9b1c16] bg-[#CC342D] text-white",
                  text: "Ruby",
                },
                {
                  css: "shadow-[#D30001] border-[#D30001] text-[#D30001]",
                  text: "Ruby On Rails",
                },
                {
                  css: "shadow-[#336791] border-[#336791] text-[#336791]",
                  text: "PostgreSQL",
                },
                {
                  css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
                  text: "Git",
                },
              ].sort((a, b) => a.text.localeCompare(b.text))}
            >
              <p class="mb-4">
                <ExternalLink
                  href="https://www.motork.io/es/"
                  title="MotorK webpage"
                  css="text-[#4f3226] decoration-[#4f3226]"
                  text="Punsset"
                /> (now MotorK). This was my first job (<HeartIcon
                  css="h-4 w-4 inline text-rose-700 fill-rose-700"
                />) and I worked as a Full-Stack developer. I was in charge of
                the maintenance and development of new features of the company's
                products, mostly related to the world of motor and dealers and
                made with Ruby On Rails.
              </p>

              <p class="mb-4 print:hidden">
                For a while I also performed customer support tasks, collecting
                and resolving customer incidents and, when I gained experience,
                I was also in charge of deploying changes in the products to
                production.
              </p>
            </Item>
          </div>

          <div
            class="hidden w-full border-4 border-zinc-900 bg-white p-4 shadow-square-left print:flex print:items-start print:gap-3"
          >
            <QrEn />
            <p class="grow basis-0">
              <b>Pst</b>: In {site}en/cv/ you can see a more complete version of
              the resume, enjoy the reading.
            </p>
          </div>

          <header class="print:hidden">
            <h2 class="mb-8 text-center text-2xl">Academic experience</h2>
          </header>
          <div class="print:hidden">
            <!-- DAW -->
            <Item
              title="September 2013 - July 2014"
              academic={true}
              labels={[
                {
                  css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
                  text: "JavaScript",
                },
                {
                  css: "shadow-[#0769ad] border-[#7acef4] bg-[#0769ad] text-white",
                  text: "JQuery",
                },
                {
                  css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
                  text: "PHP",
                },
                {
                  css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
                  text: "MySQL",
                },
                {
                  css: "shadow-[#B52E31] border-[#6F0101] bg-[#B52E31] text-white",
                  text: "AngularJS",
                },
              ]}
            >
              <p class="mb-4">
                <ExternalLink
                  href="https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-web.html"
                  title="Information on the subjects taught"
                  css="text-[#004e86] decoration-[#004e86]"
                  text="Web Applications Development"
                /> at
                <ExternalLink
                  href="http://www.iesaglinares.com/"
                  title="Institute website"
                  css="text-[#2028dc] decoration-[#2028dc]"
                  text="Augusto Gonz치lez de Linares"
                />. I did my internship at
                <ExternalLink
                  href="https://iteisa.com/"
                  title="ITEISA webpage"
                  css="underline text-[#af1685] font-bold"
                  text="ITEISA"
                />, a place that, as you can read above, years later would be my
                work destination. Throughout the course I was taught, above all,
                knowledge about <strong>PHP</strong>, <strong>Javascript</strong
                > and
                <strong>MySQL</strong>.
              </p>

              <p class="mb-4 print:hidden">
                In the internship I developed plugins for Plesk, using its API,
                and the development of a small application for managing bank
                transactions with <strong>AngularJS</strong>.
              </p>
            </Item>
            <!-- DAM -->
            <Item
              title="September 2011 - July 2013"
              academic={true}
              last={true}
              labels={[
                {
                  css: "shadow-[#FF0000] border-[#5e5e5e] bg-[#FF0000] text-white",
                  text: "Java",
                },
                {
                  css: "shadow-[#4374b5] border-[#e42527] bg-[#4374b5] text-white",
                  text: "Delphi",
                },
              ]}
            >
              <p class="mb-4">
                <ExternalLink
                  href="https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-multiplataforma.html"
                  title="Information on the subjects taught"
                  css="text-[#004e86] decoration-[#004e86]"
                  text="Multiplatform Application Development"
                /> at
                <ExternalLink
                  href="http://www.iesaglinares.com/"
                  title="Institute webpage"
                  css="text-[#2028dc] decoration-[#2028dc]"
                  text="Augusto Gonz치lez de Linares"
                />. I did my internship at
                <ExternalLink
                  href="https://www.cds-soft.es/"
                  title="Compudata webpage"
                  css="underline text-[#003366] font-bold"
                  text="Compudata Santander"
                />. Throughout the course I was taught, above all, knowledge
                about <strong>JAVA</strong> and its ecosystem.
              </p>

              <p class="mb-4 print:hidden">
                In the practices I used <strong>Delphi</strong> and what I did were
                different development exercises.
              </p>
            </Item>
          </div>
        </section>
      </section>

      <section
        class="mb-16 flex flex-wrap items-start justify-start gap-4 print:hidden md:flex-nowrap"
      >
        <section
          class="mb-6 md:sticky md:top-4 md:mb-0 md:shrink-0 md:grow-0 md:basis-1/3"
        >
          <header>
            <h2 class="mb-8 text-center text-2xl">Side projects</h2>
          </header>
          <p class="mb-2">
            In addition to everything done in the company, on a personal level I
            have done some projects for different associations or individuals.
            The truth is that the easiest thing to publish are static sites
            thanks to incredible solutions like
            <ExternalLink
              href="https://www.netlify.com/"
              title="Netlify webpage"
              css="text-[#20c6b7] decoration-[#20c6b7]"
              text="Netlify"
            />. Precisely for this reason, as I said above, I am a fan of
            <ExternalLink
              href="https://jamstack.org/"
              title="Web page with information about Jamstack"
              css="text-[#F0047F] decoration-[#F0047F]"
              text="Jamstack"
            />, I currently use
            <ExternalLink
              href="https://www.11ty.dev/"
              title="Eleventy webpage"
              css="text-[#222222] decoration-[#222222]"
              text="11ty"
            /> and
            <ExternalLink
              href="https://astro.build/"
              title="Astro webpage"
              css="text-[#1d5bfc] decoration-[#1d5bfc]"
              text="Astro"
            />, but I have also used GatsbyJS, Hugo or Jekyll for example.
          </p>
        </section>

        <section class="grid grid-cols-1 gap-4 md:grow lg:grid-cols-2">
          <Portfolio
            title="Asociaci칩n La Buena Leche"
            web="https://labuenaleche.org/"
            github="https://github.com/AngelGuerra/la-buena-leche-org"
            css="text-[#c17e93]"
          >
            <p>
              Website of the association La Buena Leche, it has gone through
              several versions, first I made it with <strong>AngularJS</strong> to
              practice, later, being a page that is not updated regularly and has
              no backend, I transformed it to a static page generated with <strong
                >Jekyll</strong
              > and layout with <strong>Bootstrap</strong>. It also had to do
              with the change from AngularJS to Angular, I had to rewrite it all
              over again!
            </p>
          </Portfolio>
          <Portfolio
            title="Bujinkan Cantabria"
            web="https://bujinkancantabria.ninja/"
            github="https://github.com/AngelGuerra/bujinkan-cantabria"
            css="text-[#bf0202]"
          >
            <p>
              Website of the Bujinkan Cantabria association, it is made with <strong
                >11ty</strong
              > as site generator and <strong>Tailwind CSS</strong> as style library.
              Before this there was a page made with WordPress but the person who
              maintained it was no longer going to do it, so I took the baton and
              made it my way. As a curiosity, it is very well positioned in the <ExternalLink
                href="https://www.11ty.dev/speedlify/bujinkancantabria-ninja/"
                title="Bujinkan Cantabria at the Eleventy Leaderboards"
                css="text-[#222222] decoration-[#222222]"
                text="Eleventy Leaderboards"
              />, even being in first position.
            </p>
          </Portfolio>
          <Portfolio
            title="Regazo Fotograf칤a"
            web="https://regazofotografia.com/"
            github="https://github.com/AngelGuerra/regazo-fotografia"
            css="text-[#63b3ed]"
          >
            <p class="mb-2">
              Website of Regazo Fotograf칤a, is made with <strong>Hugo</strong> as
              site generator and <strong>Tailwind CSS</strong> as style library.
              It uses <strong>Netlify</strong> for the resizing of the images and
              the collection of the form data. I made it with Hugo because of my
              eagerness to be always trying new things.
            </p>

            <p>
              <b>Advertising:</b> Regazo Fotograf칤a is my wife's project, take a
              look.
            </p>
          </Portfolio>
          <Portfolio
            title="Regazo Fotograf칤a - Duelo Perinatal"
            web="https://dueloperinatal.regazofotografia.com/"
            github="https://github.com/AngelGuerra/regazo-fotografia-duelo-perinatal"
            css="text-blue-700"
          >
            <p class="mb-2">
              This page is a Regazo Fotograf칤a landing page, but oriented to
              perinatal bereavement. It is made with <strong>11ty</strong>, <strong
                >AlpineJS</strong
              > for the behavior and <strong>Tailwind CSS</strong> for the styles.
            </p>

            <p>
              Although it is not positioned as high as Bujinkan Cantabria, it
              also appears in the <ExternalLink
                href="https://www.11ty.dev/speedlify/dueloperinatal-regazofotografia-com/"
                title="Regazo Fotograf칤a at the Eleventy Leaderboards"
                css="text-[#222222] decoration-[#222222]"
                text="Eleventy Leaderboards"
              /> with a perfect score in Lighthouse.
            </p>
          </Portfolio>
        </section>
      </section>

      <section
        class="mb-16 flex flex-wrap items-start justify-start gap-4 print:hidden md:flex-nowrap"
      >
        <section class="md:grow md:basis-1/2">
          <header>
            <h2 class="mb-8 text-center text-2xl">Other tools</h2>
          </header>

          <p class="mb-4">
            In addition to what I have commented in all the above, here I am
            going to put other things that at some point I have touched and/or I
            have used to make specific projects to a greater or lesser extent.
            With this I hope to have a small reminder of everything that I have
            been using and that, perhaps, in some future I will use again - or
            not, maybe it also depends on you -.
          </p>

          <section
            class="container mx-auto mb-8 flex flex-wrap items-center justify-center gap-4 print:gap-1"
          >
            <Label
              css="shadow-[#1f38c5] border-[#0f1c64] bg-[#1f38c5] text-white"
              text="Frontity"
            />
            <Label
              css="shadow-[#3e2723] border-[#1b5e20] bg-[#3e2723] text-white"
              text="CoffeeScript"
            />
            <Label
              css="shadow-[#42b883] border-white bg-[#42b883] text-white"
              text="Vue"
            />
            <Label
              css="shadow-[#306ee5] border-white bg-[#306ee5] text-white"
              text="Minikube"
            />
            <Label
              css="shadow-[#DD3F8F] border-[#DEDB8E] bg-[#DD3F8F] text-white"
              text="Lando"
            />
            <Label
              css="shadow-[#ff0076] border-white bg-[#ff0076] text-white"
              text="PrestaShop"
            />
            <Label
              css="shadow-[#719E40] border-white bg-[#719E40] text-white"
              text="SlimPHP"
            />
            <Label
              css="shadow-[#7952b3] border-white bg-[#7952b3] text-white"
              text="Bootstrap"
            />
            <Label
              css="shadow-[#00d1b2] border-white bg-[#00d1b2] text-white"
              text="Bulma"
            />
            <Label
              css="shadow-[#FF6600] border-white bg-[#FF6600] text-white"
              text="RabbitMQ"
            />
            <Label
              css="shadow-[#0077cc] border-white bg-[#0077cc] text-white"
              text="ElasticSearch"
            />
            <Label
              css="shadow-[#2A3238] border-[#4DA925] bg-[#2A3238] text-[#4DA925]"
              text="Bash Script"
            />
            <Label
              css="shadow-[#68BF66] border-white bg-[#68BF66] text-white"
              text="Laravel Zero"
            />
          </section>
        </section>
        <section class="md:grow md:basis-1/2">
          <header>
            <h2 class="mb-8 text-center text-2xl">More info</h2>
          </header>

          <p class="mb-2">
            Outside the field of technology, I have always liked to do sports,
            especially those that are contact or martial arts. In fact, I have
            an official qualification from the <ExternalLink
              href="https://www.fekm.es/"
              title="Federaci칩n Espa침ola de Kick Boxing y Muay Thai webpage"
              css="text-[#ba2123] decoration-[#ba2123]"
              text="FEKM"
            /> in self-defense and <ExternalLink
              href="https://en.wikipedia.org/wiki/Ninjutsu"
              title="Info about Ninjutsu in Wikipedia"
              css="text-[#000000] decoration-[#000000]"
              text="Ninjutsu"
            />, a Japanese martial art, of which I currently hold the 4th dan by
            the <ExternalLink
              href="https://en.wikipedia.org/wiki/Bujinkan"
              title="Info about Bujinkan in Wikipedia"
              css="text-[#C40026] decoration-[#C40026]"
              text="Bujinkan"
            />. In addition to this, for many years I practiced Kick Boxing and
            even taught classes to adults.
          </p>

          <p>
            Until I was 16 years old I played chess, first occasionally and then
            in tournaments or the Cantabrian league itself. It is a hobby that I
            would like to recover continuously, but at the moment I have parked
            it, although I am always open to play a game.
          </p>
        </section>
      </section>
    </section>
  </section>

  <button
    onclick="if (window.print) window.print()"
    class="fixed bottom-4 right-4 rounded-full bg-zinc-900 p-3 text-white print:hidden"
  >
    <Printer />
    <span class="sr-only">Print it</span>
  </button>
</BaseLayout>

<style>
  @page {
    size: A4;
  }
</style>
