---
import ExternalLink from "component:ExternalLink";

export interface Props {
  title: string;
  web: string;
  github: string;
  css?: string;
}

const { title, web, github, css = "" } = Astro.props;
---

<section
  class="flex h-full flex-col border-4 border-zinc-900 bg-white shadow-square-left transition-shadow hover:shadow-square-right dark:border-zinc-200 dark:bg-transparent print:border print:shadow-none print:hover:shadow-none"
>
  <p
    class={`p-4 text-xl text-center border-b border-zinc-900  font-bold ${css} 2xl:text-base print:text-base print:p-2`}
  >
    {title}
  </p>
  <div class="p-4">
    <slot />
  </div>
  <div
    class="mt-auto flex flex-wrap items-center justify-around border-t border-zinc-900 p-4 text-center print:hidden"
  >
    <ExternalLink
      href={web}
      title="Go to the webpage"
      css={`underline font-bold ${css}`.trim()}
      text="Web"
    />
    <ExternalLink
      href={github}
      title="Code repository"
      css={`underline font-bold ${css}`.trim()}
      text="GitHub"
    />
  </div>
</section>
