---
import { Picture } from "@astrojs/image/components";
import { OutputFormat } from "@astrojs/image/dist/loaders";
import { ImageMetadata } from "@astrojs/image/dist/vite-plugin-astro-image";
import ExternalLink from "component:ExternalLink";

export interface Props {
  title: string;
  web: string;
  github: string;
  alt?: string;
  src?: ImageMetadata | string;
  css?: string;
}

interface IPicture {
  widths: number[];
  sizes: string;
  formats: OutputFormat[];
}

const PICTURE_CONFIG: IPicture = {
  widths: [632, 368, 496, 624, 364],
  sizes:
    "(min-width: 640px) 632px, (min-width: 768px) 368px, (min-width: 1024px) 496px, (min-width: 1280px) 624px, (min-width: 1536px) 364px, 632px",
  formats: ["avif", "webp", "png"],
};

const { title, web, github, src = "", alt = "", css = "" } = Astro.props;
---

<section
  class="flex h-full flex-col border-4 border-zinc-900 bg-white shadow-square-left transition-shadow hover:shadow-square-right dark:border-zinc-200 dark:bg-transparent print:border print:shadow-none print:hover:shadow-none"
>
  <p
    class={`p-4 text-xl text-center border-b border-zinc-900  font-bold ${css} 2xl:text-base print:text-base print:p-2`}
  >
    {title}
  </p>
  {
    src !== "" && (
      <Picture
        src={src}
        alt={alt}
        widths={PICTURE_CONFIG.widths}
        sizes={PICTURE_CONFIG.sizes}
        formats={PICTURE_CONFIG.formats}
        loading="lazy"
        decoding="async"
        class="print:hidden"
        aspectRatio="158:109"
      />
    )
  }
  <div class="p-4">
    <slot />
  </div>
  <div
    class="mt-auto flex flex-wrap items-center justify-around border-t border-zinc-900 p-4 text-center print:hidden"
  >
    <ExternalLink
      href={web}
      title="Ir a la página web"
      css={`underline font-bold ${css}`.trim()}
      text="Web"
    />
    <ExternalLink
      href={github}
      title="Repositorio con el código"
      css={`underline font-bold ${css}`.trim()}
      text="GitHub"
    />
  </div>
</section>
