---
import BaseLayout from "layout:Base";

import ExternalLink from "component:ExternalLink";
import Item from "component:cv/timeline/Item";
import Label from "component:cv/timeline/Label";
import Portfolio from "component:cv/Portfolio";

import bujinkanCantabria from "asset:img/screenshots/bujinkan-cantabria.png";
import laBuenaLeche from "asset:img/screenshots/la-buena-leche.png";
import regazoFotografia from "asset:img/screenshots/regazo-fotografia.png";
import regazoDuelo from "asset:img/screenshots/regazo-fotografia-duelo-perinatal.png";
---

<BaseLayout
  title="Currículum"
  description="Experiencia a lo largo de mi vida profesional como desarrollador"
>
  <div class="p-4 bg-purple-200 h-full">
    <section class="max-w-2xl mx-auto mb-8">
      <h1 class="text-2xl text-center my-8">/cv con mi experiencia laboral</h1>
      <p class="mb-2">
        Dicen que <em>"Aprendiz de mucho, maestro de nada"</em>. Es posible que
        esto sea cierto pero, al menos en mi caso, me apasiona aprender de todo
        y poder dotarme de una gran versatilidad a la hora de desempeñar mi
        trabajo. Creo que de esta manera se puede ser de mucha ayuda en muchos
        ámbito. Dicho esto, mi preferencia es el desarrollo del backend.
      </p>

      <p class="mb-2">
        Por resumir mi experiencia <strong>más actual</strong>:
        <span class="bg-[#D33C44] text-white px-2 inline-block">CakePHP</span> para
        el desarrollo de APIs, <span
          class="bg-[#282C34] text-[#61DAFB] px-2 inline-block">React</span
        > para el desarrollo de los frontend, <span
          class="bg-[#FCA121] text-white px-2 inline-block">GitLab CI</span
        >
        para las integraciones continuas y <span
          class="bg-[#F1502F] text-white px-2 inline-block">Git</span
        > para el control de versiones.
      </p>

      <p class="mb-2">
        Como ya he comentado, mi preferencia principal es trabajar con el
        backend, pero por subir a un nivel menos específico, lo que me interesa
        sobretodo es <strong>programar</strong>. Quiero decir que si bien no
        tengo problema en tener reuniones con clientes, por ejemplo, no quiero
        que éstas ocupen la mayor parte de mi tiempo. De la misma manera tampoco
        quiero pasar mucho tiempo rellenando contenidos - ya me está costando
        escribir todo esto 😅 - y lo que peor se me da es el diseño. Maquetar no
        hay problema, pero diseñar es mejor que lo haga alguien que sepa 🥲...
      </p>

      <p>
        Que el siguiente esquema sirva para hacer una foto muy general y
        resumida de lo que he ido realizando a lo largo de los años.
      </p>
    </section>

    <section class="container mx-auto p-4">
      <div>
        <!-- ITEISA -->
        <Item
          title="Julio 2020"
          current={true}
          labels={[
            {
              css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
              text: "PHP",
            },
            {
              css: "shadow-[#D33C44] border-[#363637] bg-[#D33C44] text-white",
              text: "CakePHP",
            },
            {
              css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
              text: "JavaScript",
            },
            {
              css: "shadow-[#282C34] border-[#20232A] bg-[#282C34] text-[#61DAFB]",
              text: "React",
            },
            {
              css: "shadow-[#303846] border-[#20232A] bg-[#303846] text-[#09D3AC]",
              text: "Create React App",
            },
            {
              css: "shadow-[#111111] border-[#111111] text-[#111111]",
              text: "NextJS",
            },
            {
              css: "shadow-[#7026B9] border-[#232129] bg-[#7026B9] text-white",
              text: "GatsbyJS",
            },
            {
              css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
              text: "MySQL",
            },
            {
              css: "shadow-[#222222] border-[#222222] bg-[#222222] text-white",
              text: "11ty",
            },
            {
              css: "shadow-[#157AFF] border-[#022044] bg-[#157AFF] text-white",
              text: "Docker",
            },
            {
              css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
              text: "Git",
            },
            {
              css: "shadow-[#FCA121] border-[#DB3B21] bg-[#FCA121] text-white",
              text: "GitLab CI",
            },
          ]}
        >
          <p class="mb-4">
            <ExternalLink
              href="https://iteisa.com/"
              title="Página web de ITEISA"
              css="underline text-[#af1685] font-bold"
              text="ITEISA"
            />. Actualmente soy desarrollador <em>Full-Stack</em>. Me encargo
            principalmente de los desarrollos a medida de la empresa utilizando
            sobretodo <strong>CakePHP</strong> y <strong>React</strong>. He
            realizado desde aplicaciones web, tanto las APIs, los frontend, sus
            integraciones continuas... a páginas web estáticas - como la propia
            de ITEISA - o web scrapers.
          </p>
          <p class="mb-4">
            También participo de manera activa en la planificación de los
            proyectos, sustituyo a nuestro insustituible encargado de sistemas
            cuando no está disponible, instruyo en cómo salir de <strong
              >vim</strong
            > a mis compañeros y compañeras...
          </p>
        </Item>
        <!-- SPORT2FIT -->
        <Item
          title="Enero 2020 - Julio 2020"
          labels={[
            {
              css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
              text: "PHP",
            },
            {
              css: "shadow-[#D33C44] border-[#363637] bg-[#D33C44] text-white",
              text: "CakePHP",
            },
            {
              css: "shadow-[#45494c] border-[#828d96] bg-[#45494c] text-white",
              text: "phpBB",
            },
            {
              css: "shadow-[#117AC9] border-[#003c56] bg-[#117AC9] text-white",
              text: "WordPress",
            },
            {
              css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
              text: "JavaScript",
            },
            {
              css: "shadow-[#0769ad] border-[#7acef4] bg-[#0769ad] text-white",
              text: "JQuery",
            },
            {
              css: "shadow-[#CC342D] border-[#9b1c16] bg-[#CC342D] text-white",
              text: "Ruby",
            },
            {
              css: "shadow-[#D30001] border-[#D30001] text-[#D30001]",
              text: "Ruby On Rails",
            },
            {
              css: "shadow-[#2b2b2b] border-[#333333] bg-[#2b2b2b] text-[#ffcc00]",
              text: "Jekyll",
            },
            {
              css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
              text: "MySQL",
            },
            {
              css: "shadow-[#336791] border-[#336791] text-[#336791]",
              text: "PostgreSQL",
            },
            {
              css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
              text: "Git",
            },
          ]}
        >
          <p class="mb-4">
            <ExternalLink
              href="http://www.sport2fit.com/"
              title="Página web de Sport2Fit"
              css="underline text-[#49afcd] font-bold"
              text="Sport2Fit"
            />. Trabajé como desarrollador <em>Full-Stack</em>. Principalmente
            trabajé con <strong>Ruby On Rails</strong> y <strong
              >JavaScript</strong
            >. Me encargué del mantenimiento de los desarrollos a medida de la
            empresa y también realicé nuevos desarrollos con <strong
              >Jekyll</strong
            > y <strong>WordPress</strong>.
          </p>
        </Item>
        <!-- ITEISA -->
        <Item
          title="Abril 2017 - Enero 2020"
          labels={[
            {
              css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
              text: "PHP",
            },
            {
              css: "shadow-[#D33C44] border-[#363637] bg-[#D33C44] text-white",
              text: "CakePHP",
            },
            {
              css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
              text: "JavaScript",
            },
            {
              css: "shadow-[#282C34] border-[#20232A] bg-[#282C34] text-[#61DAFB]",
              text: "React",
            },
            {
              css: "shadow-[#303846] border-[#20232A] bg-[#303846] text-[#09D3AC]",
              text: "Create React App",
            },
            {
              css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
              text: "MySQL",
            },
            {
              css: "shadow-[#2b2b2b] border-[#333333] bg-[#2b2b2b] text-[#ffcc00]",
              text: "Jekyll",
            },
            {
              css: "shadow-[#157AFF] border-[#022044] bg-[#157AFF] text-white",
              text: "Docker",
            },
            {
              css: "shadow-[#43b02a] border-[#75c563] bg-[#43b02a] text-white",
              text: "Selenium",
            },
            {
              css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
              text: "Git",
            },
            {
              css: "shadow-[#FCA121] border-[#DB3B21] bg-[#FCA121] text-white",
              text: "GitLab CI",
            },
          ]}
        >
          <p class="mb-4">
            <ExternalLink
              href="https://iteisa.com/"
              title="Página web de ITEISA"
              css="underline text-[#af1685] font-bold"
              text="ITEISA"
            />. Trabajé como desarrollador orientado al <em>Backend</em>.
            Principalmente trabajé con <strong>CakePHP</strong> y ocasionalmente
            también trabajé en los frontend con <strong>React</strong>. Me
            encargué de los desarrollos a medida de la empresa, especialmente de
            las APIs y de los scrapers.
          </p>
        </Item>
        <!-- Punsset -->
        <Item
          title="Julio 2014 - Marzo 2017"
          last={true}
          labels={[
            {
              css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
              text: "JavaScript",
            },
            {
              css: "shadow-[#0769ad] border-[#7acef4] bg-[#0769ad] text-white",
              text: "JQuery",
            },
            {
              css: "shadow-[#3e2723] border-[#1b5e20] bg-[#3e2723] text-white",
              text: "CoffeeScript",
            },
            {
              css: "shadow-[#CC342D] border-[#9b1c16] bg-[#CC342D] text-white",
              text: "Ruby",
            },
            {
              css: "shadow-[#D30001] border-[#D30001] text-[#D30001]",
              text: "Ruby On Rails",
            },
            {
              css: "shadow-[#336791] border-[#336791] text-[#336791]",
              text: "PostgreSQL",
            },
            {
              css: "shadow-[#F1502F] border-[#3E2C00] bg-[#F1502F] text-white",
              text: "Git",
            },
          ]}
        >
          <p class="mb-4">
            <ExternalLink
              href="https://www.motork.io/es/"
              title="Página web de MotorK"
              css="underline text-[#f2a273] font-bold"
              text="Punsset"
            /> (actualmente MotorK). Trabajé como desarollador <em
              >Full-Stack</em
            >, principalmente con <strong>Ruby On Rails</strong> y <strong
              >JavaScript</strong
            >. Me encargué del mantenimiento y desarrollo de los productos de la
            empresa relacionados con el mundo de la automoción, así como de
            otros proyectos paralelos que ésta tenía.
          </p>
        </Item>
        <!-- DAW -->
        <Item
          title="Septiembre 2013 - Julio 2014"
          academic={true}
          labels={[
            {
              css: "shadow-[#F0DB4F] border-[#323330] bg-[#F0DB4F]",
              text: "JavaScript",
            },
            {
              css: "shadow-[#0769ad] border-[#7acef4] bg-[#0769ad] text-white",
              text: "JQuery",
            },
            {
              css: "shadow-[#8892BF] border-[#4F5B93] bg-[#8892BF] text-white",
              text: "PHP",
            },
            {
              css: "shadow-[#4479A1] border-[#E97B00] bg-[#4479A1] text-white",
              text: "MySQL",
            },
            {
              css: "shadow-[#B52E31] border-[#6F0101] bg-[#B52E31] text-white",
              text: "AngularJS",
            },
          ]}
        >
          <p class="mb-4">
            Desarrollo de Aplicaciones Web en el
            <ExternalLink
              href="http://www.iesaglinares.com/"
              title="Página web del instituto"
              css="underline text-[#333333] font-bold"
              text="Augusto González de Linares"
            />. Las prácticas las realicé en <ExternalLink
              href="https://iteisa.com/"
              title="Página web de ITEISA"
              css="underline text-[#af1685] font-bold"
              text="ITEISA"
            />, lugar que, años después, sería mi destino laboral. A lo largo
            del curso se impartieron, sobretodo, conocimientos sobre <strong
              >PHP</strong
            >, <strong>Javascript</strong> y <strong>MySQL</strong>. En las
            prácticas utilicé <strong>PHP</strong> y <strong>AngularJS</strong> principalmente.
          </p>
        </Item>
        <!-- DAM -->
        <Item
          title="Septiembre 2011 - Julio 2013"
          academic={true}
          last={true}
          labels={[
            {
              css: "shadow-[#FF0000] border-[#5e5e5e] bg-[#FF0000] text-white",
              text: "Java",
            },
            {
              css: "shadow-[#4374b5] border-[#e42527] bg-[#4374b5] text-white",
              text: "Delphi",
            },
          ]}
        >
          <p class="mb-4">
            Desarrollo de Aplicaciones Multiplataforma en el
            <ExternalLink
              href="http://www.iesaglinares.com/"
              title="Página web del instituto"
              css="underline text-[#333333] font-bold"
              text="Augusto González de Linares"
            />. Las prácticas las realicé en <ExternalLink
              href="https://www.cds-soft.es/"
              title="Página web de ITEISA"
              css="underline text-[#003366] font-bold"
              text="Compudata Santander"
            />. A lo largo del curso se impartieron, sobretodo, conocimientos
            sobre <strong>JAVA</strong> y todo su ecosistema. En las prácticas utilicé
            <strong>Delphi</strong>.
          </p>
        </Item>
      </div>
    </section>

    <section class="max-w-2xl mx-auto mb-8">
      <h2 class="text-2xl text-center my-8">/portfolio (público)</h2>
      <p class="mb-2">
        Además de todo lo realizado en la empresa, a nivel personal he realizado
        algunos proyectos para diferentes asociaciones o personas. La verdad que
        lo más sencillo a publicar son sitios estáticos gracias a increíbles
        soluciones como <ExternalLink
          href="https://www.netlify.com/"
          title="Web de Netlify"
          css="underline text-[#20c6b7] font-bold"
          text="Netlify"
        />. Precisamente por este motivo soy bastante fan del <ExternalLink
          href="https://jamstack.org/"
          title="Página web con información sobre el Jamstack"
          css="underline text-[#F0047F] font-bold"
          text="Jamstack"
        /> - generadores de sitios estáticos -, actualmente utilizo <ExternalLink
          href="https://www.11ty.dev/"
          title="Página web de Eleventy"
          css="underline text-[#222222] font-bold"
          text="11ty"
        /> y <ExternalLink
          href="https://astro.build/"
          title="Página web de Astro"
          css="underline text-[#1d5bfc] font-bold"
          text="Astro"
        />, pero he utilizado también GatsbyJS, Hugo o Jekyll por ejemplo.
      </p>
    </section>

    <section
      class="container mx-auto mb-10 grid gap-4 grid-cols-1 grid-rows-4 md:grid-cols-2 md:grid-rows-2 2xl:grid-cols-4 2xl:grid-rows-1"
    >
      <Portfolio
        title="Asociación La Buena Leche"
        src={laBuenaLeche}
        alt="Captura de pantalla de la página principal de La Buena Leche"
        web="https://labuenaleche.org/"
        github="https://github.com/AngelGuerra/la-buena-leche-org"
        css="text-[#c17e93]"
      >
        <p>
          Página web de la asociación La Buena Leche, ha pasado por varias
          versiones, primero la realicé con <strong>AngularJS</strong> para practicar,
          más tarde, al ser una página que no se actualiza con regularidad y que
          no tiene ningún tipo de backend, la transformé a una página estática generada
          con <strong>Jekyll</strong> y maquetada con <strong>Bootstrap</strong
          >. También tuvo que ver el cambio de AngularJS a Angular, ¡tenía que
          reescribirlo todo de nuevo!
        </p>
      </Portfolio>
      <Portfolio
        title="Bujinkan Cantabria"
        src={bujinkanCantabria}
        alt="Captura de pantalla de la página principal de Bujinkan Cantabria"
        web="https://bujinkancantabria.ninja/"
        github="https://github.com/AngelGuerra/bujinkan-cantabria"
        css="text-[#bf0202]"
      >
        <p>
          Página web de la asociación Bujinkan Cantabria, está realizada con <strong
            >11ty</strong
          > como generador del sitio y con <strong>Tailwind CSS</strong> como librería
          de estilos. Antes de ésta existía una página realizada con WordPress pero
          la persona que la mantenía ya no lo iba a hacer, así que cogí el testigo
          y la realicé a mi manera.
        </p>
      </Portfolio>
      <Portfolio
        title="Regazo Fotografía"
        src={regazoFotografia}
        alt="Captura de pantalla de la página principal de Regazo Fotografía"
        web="https://regazofotografia.com/"
        github="https://github.com/AngelGuerra/regazo-fotografia"
        css="text-[#63b3ed]"
      >
        <p>
          Página web de Regazo Fotografía, está realizada con <strong
            >Hugo</strong
          > como generador del sitio y con <strong>Tailwind CSS</strong> como librería
          de estilos. Antes de ésta existía una página realizada con WordPress pero
          la persona que la mantenía ya no lo iba a hacer, así que cogí el testigo
          y la realicé a mi manera.
        </p>
      </Portfolio>
      <Portfolio
        title="Regazo Fotografía - Duelo Perinatal"
        src={regazoDuelo}
        alt="Captura de pantalla de la página de duelo de Regazo Fotografía"
        web="https://dueloperinatal.regazofotografia.com/"
        github="https://github.com/AngelGuerra/regazo-fotografia-duelo-perinatal"
        css="text-blue-700"
      >
        <p>
          Esta página es una <em>landing</em> de Regazo Fotografía, pero orientada
          al duelo perinatal. Está realizada con <strong>11ty</strong>, <strong
            >AlpineJS</strong
          > para el comportamiento y <strong>Tailwind CSS</strong> para los estilos.
        </p>
      </Portfolio>
    </section>

    <section class="max-w-2xl mx-auto mb-8">
      <h2 class="text-2xl text-center my-8">/used</h2>
      <p class="mb-2">
        Además de lo que he comentado en todo lo anterior, aquí voy a poner
        otras cosas que en algún momento he tocado y/o he utilizado para
        realizar proyectos concretos en mayor o menor medida. Con esto espero
        tener un pequeño recordatorio propio de todo lo que he ido utilizando en
        algún momento y que, quizá, en algún futuro vuelva a utilizar - o no.
      </p>
    </section>

    <section
      class="container mx-auto mb-8 flex flex-wrap gap-4 items-center justify-center"
    >
      <Label
        css="shadow-[#71c405] border-white bg-[#71c405] text-white "
        text="Oclif"
      />
      <Label
        css="shadow-[#1f38c5] border-[#0f1c64] bg-[#1f38c5] text-white"
        text="Frontity"
      />
      <Label
        css="shadow-[#3e2723] border-[#1b5e20] bg-[#3e2723] text-white"
        text="CoffeeScript"
      />
      <Label
        css="shadow-[#42b883] border-white bg-[#42b883] text-white"
        text="Vue"
      />
      <Label
        css="shadow-[#306ee5] border-white bg-[#306ee5] text-white"
        text="Minikube"
      />
      <Label
        css="shadow-[#DD3F8F] border-[#DEDB8E] bg-[#DD3F8F] text-white"
        text="Lando"
      />
      <Label
        css="shadow-[#ff0076] border-white bg-[#ff0076] text-white"
        text="PrestaShop"
      />
      <Label
        css="shadow-[#719E40] border-white bg-[#719E40] text-white"
        text="SlimPHP"
      />
      <Label
        css="shadow-[#7952b3] border-white bg-[#7952b3] text-white"
        text="Bootstrap"
      />
      <Label
        css="shadow-[#00d1b2] border-white bg-[#00d1b2] text-white"
        text="Bulma"
      />
      <Label
        css="shadow-[#FF6600] border-white bg-[#FF6600] text-white"
        text="RabbitMQ"
      />
      <Label
        css="shadow-[#0077cc] border-white bg-[#0077cc] text-white"
        text="ElasticSearch"
      />
      <Label
        css="shadow-[#2A3238] border-[#4DA925] bg-[#2A3238] text-[#4DA925]"
        text="Bash Script"
      />
    </section>
  </div>
</BaseLayout>
