---
import { packages } from "../../package-lock.json";

import ExternalLink from "component:ExternalLink";
import AstroIcon from "component:icons/official/astro";

export interface Props {
  title: string;
  description: string;
  robots?: string;
}

const { title, description, robots = "index,follow" } = Astro.props;
const currentUrl: URL = Astro.url;
const image: string = `${Astro.site.toString()}assets/logo-social-1200x630.jpg`;
const astroVersion: string = packages["node_modules/astro"].version;
const tailwindVersion: string = packages["node_modules/tailwindcss"].version;

const ldJson: string = JSON.stringify({
  "@context": "http://www.schema.org",
  "@type": "Person",
  name: "ﾃ］gel Guerra",
  jobTitle: "Full Stack Developer",
  height: "182cm",
  gender: "male",
  url: Astro.site.toString(),
  address: {
    "@type": "PostalAddress",
    addressRegion: "Cantabria",
    addressCountry: "Spain",
  },
  sameAs: [
    "https://twitter.com/angellguerra",
    "https://es.linkedin.com/in/angel-guerra-revilla",
    "https://github.com/AngelGuerra",
    "https://lichess.org/@/AngelGuerra",
  ],
  birthDate: "1990-03-01",
  birthPlace: "Santander",
  nationality: "Spanish",
});
---

<html lang="es" class="scroll-smooth">
  <head>
    <title>{title} | ﾃ］gel Guerra</title>
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta name="robots" content={robots} />
    <meta name="author" content="ﾃ］gel Guerra" />
    <meta name="generator" content={Astro.generator} />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212121" />

    <!-- MANIFEST -->
    <link rel="manifest" href="/site.webmanifest" />

    <!-- OTHER -->
    <meta name="apple-mobile-web-app-title" content="ﾃ］gel Guerra" />
    <meta name="application-name" content="ﾃ］gel Guerra" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <!-- TWITTER -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="ﾃ］gel Guerra" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={currentUrl} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:site" content="@angellguerra" />
    <meta name="twitter:author" content="@angellguerra" />

    <!-- OPEN GRAPH -->
    <meta property="og:type" content="profile" />
    <meta property="og:site_name" content="ﾃ］gel Guerra" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:locale" content="es" />
    <meta property="og:image" content={image} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="profile:first_name" content="ﾃ］gel" />
    <meta property="profile:last_name" content="Guerra" />

    <!-- SCHEMA -->
    <Fragment
      set:html={`<script type="application/ld+json">${ldJson}</script>`}
    />

    <style is:global>
      ::-webkit-scrollbar {
        @apply w-2;
      }

      * {
        scrollbar-width: auto;
        scrollbar-color: #0e7490 #a3a3a3;
      }

      ::-webkit-scrollbar-track {
        @apply bg-neutral-400;
      }

      ::-webkit-scrollbar-thumb {
        @apply border-0 bg-cyan-700 hover:bg-cyan-600;
      }
    </style>
  </head>

  <body
    class="flex min-h-screen flex-col bg-gray-200 bg-gradient-to-b from-violet-100 to-white text-zinc-900 dark:from-slate-800 dark:to-gray-900 dark:text-zinc-200"
  >
    <header class="print:hidden">
      <nav
        class="container mx-auto flex w-full flex-col justify-between gap-6 py-4 px-6 md:flex-row"
      >
        <div class="flex justify-center md:justify-start">
          <a
            href="/"
            class="text-2xl no-underline hover:text-neutral-900 dark:hover:text-white"
            rel="home">ﾃ］gel Guerra</a
          >
        </div>
        <div class="flex flex-row justify-center gap-8 md:justify-end">
          <a
            href="/cv"
            class="text-lg underline decoration-wavy underline-offset-2 hover:text-neutral-900 dark:hover:text-white"
            >Currﾃｭculo</a
          >
          <a
            href="/uses"
            class="text-lg underline decoration-wavy underline-offset-2 hover:text-neutral-900 dark:hover:text-white"
            >/uses <sup>by Wesbos</sup>
          </a>
        </div>
      </nav>
    </header>

    <main
      class="relative flex flex-1 flex-col flex-wrap items-stretch justify-start"
    >
      <slot />
    </main>

    <footer
      class="border-t-2 border-zinc-900 bg-white py-8 dark:border-white dark:bg-gray-900 print:hidden"
    >
      <div class="container mx-auto">
        <p class="mb-2 text-center text-xs">
          <a href="/no-cookies" title="Polﾃｭtica de NO cookies" class="underline"
            >Polﾃｭtica de NO cookies</a
          >
        </p>
        <p class="mb-2 text-center tracking-wide">
          Construido con
          <ExternalLink
            href="https://astro.build/"
            text="Astro"
            title="Pﾃ｡gina web de Astro"
            rel="external"
          />
          <AstroIcon /> desde
          <ExternalLink
            href="https://turismodecantabria.com/"
            text="Cantabria"
            title="Portal de turismo de Cantabria"
            rel="external noreferrer"
          /> 沍ｲ
        </p>
        <div class="flex flex-col gap-1 text-center text-xs">
          <span
            class="text-indigo-800 line-through dark:text-indigo-200"
            title="Pﾃ｡gina sin Javascript">#ZeroJS #NoJavascript</span
          ><span
            class="text-indigo-800 dark:text-indigo-200"
            title="Pﾃ｡gina sin Javascript">#SﾃｳloUnPoquitoDeJavaScript</span
          >
          <span class="text-[#514375] dark:text-[#ff7e33]"
            >#Astro-{astroVersion}</span
          >
          <span class="text-sky-700 dark:text-sky-400"
            >#TailwindCSS-{tailwindVersion}</span
          >
        </div>
      </div>
    </footer>
  </body>
</html>
